@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sriracha&display=swap');

.signUpBox {
	height: fit-content;
	width: fit-content;
	text-align: center;

	/* 화면 정가운데 배치 */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border-radius: 1px;
	margin: 0 0 10px;
	padding: 50px 50px;
}

.signUp_title {
	margin: 0 0 30px 0;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 39px;
	color: #4a3763;
	font-family: 'Lobster', cursive;
}

hr {
	width: 509px;
	height: 0px;
	margin-bottom: 30px;
	border: 0.5px solid #4a3763;
	transform: rotate(-0.22deg);
}

.signUp {
	input {
		width: 329px;
		height: 50px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.7);
		margin-top: 25px;

		padding-left: 20px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
	}
	input::placeholder {
		color: #adadad;
		// padding-left: 20px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
	}
	/* outline 테두리 속성 수정 */
	input:focus {
		outline: 2px solid #a171ff;
	}

	label {
		position: absolute;
		pointer-events: none;
		left: 10px;
		padding-bottom: 15px;
		transform: translateY(10px);
		line-height: 6px;
		transition: all ease-out 0.1s;
		font-size: 14px;
		color: #999;
		padding-top: 6px;
		visibility: hidden;
	}
}

.id {
	margin-top: 50px;
}

.signUp-button {
	text-align: center;
	width: 349px;
	height: 50px;
	padding: 0.5rem;
	border: 1px solid transparent;
	background: #a171ff;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 35px;

	color: #fff;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.15em;
}

.LogIn {
	// border: 1px solid #cdcdcd;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 25px 50px;
	color: #2f1154;
}

#logIn-button {
	color: #a171ff;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: none;
}

/* error message */
#signUp_errors {
	position: absolute;
	padding-left: 85px;
	color: red;
	font-size: 12px;
	text-align: left;
	margin: 5px;
}
