html {
	background: conic-gradient(
			from 200deg at 50.23% 40.06%,
			#fceeef -43.41deg,
			#e5d8fa 115.87deg,
			#fceeef 316.59deg,
			#e5d8fa 475.87deg
		),
		rgba(255, 255, 255, 0.8);
	height: 100vh;
	width: 100%;
}

.loginBox {
	width: 600px;
	height: fit-content;
	text-align: center;

	/* 화면 정가운데 배치 */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* circuit */
.login_title {
	margin: 0 0 30px 0;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 39px;
	color: #4a3763;
}

hr {
	width: 509px;
	height: 0px;
	margin-bottom: 30px;
	border: 0.5px solid #4a3763;
	transform: rotate(-0.22deg);
}

.login {
	margin: 0 0 10px;
	padding: 40px 50px 50px 50px;

	input {
		width: 329px;
		height: 50px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.7);
		margin-top: 25px;

		padding-left: 20px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
	}
	input::placeholder {
		color: #adadad;
		// padding-left: 20px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
	}
	/* outline 테두리 속성 수정 */
	input:focus {
		outline: 2px solid #a171ff;
	}
	label {
		position: absolute;
		pointer-events: none;
		left: 10px;
		padding-bottom: 15px;
		transform: translateY(10px);
		line-height: 6px;
		transition: all ease-out 0.1s;
		font-size: 14px;
		color: #999;
		padding-top: 6px;
		visibility: hidden;
	}
}

// 이메일 input
.id {
	margin-top: 50px;
}

#login-button {
	text-align: center;
	width: 349px;
	height: 50px;
	padding: 0.5rem;
	border: 1px solid transparent;
	background: #e1c9f8;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 35px;

	color: #fff;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.15em;
}

.singUp {
	// border: 1px solid #cdcdcd;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 25px 50px;
	color: #2f1154;
}

#singUp-button {
	color: #a171ff;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: none;
}

#login_errors {
	position: absolute;
	padding-left: 85px;
	color: red;
	font-size: 12px;
	text-align: left;
	margin: 5px;
}
