.MainProfile {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 79%;
	height: 35%;
	padding: 20px 0px 5px 0px;
	margin: 50px 0px 0px 50px;
	border-radius: 20px;
	background: #e6daff;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	margin-bottom: 35px;
	img {
		display: flex;
		background-color: black;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin: 25px 0;
	}

	h2 {
		font-size: 23px;
		font-weight: 500;
		margin: 10px 0;
		color: #2f1154;
	}

	span {
		font-size: 14px;
		color: #4a3763;
		margin: 3px 0;
	}

	a {
		color: white;
	}
}
