.searchBar {
	position: relative;
	right: -30px;
	color: #909090;
	display: flex;
	align-items: center;
	width: 300px;
	height: 40px;
	background-color: #efefef;
	border-radius: 10px;
	margin-left: 50px;
	span {
		position: absolute;
		left: 60px;
	}
	height: 40px;

	.searchBar__delete {
		font-size: 15px;
		background-color: #c7c7c7;
		border: none;
		border-radius: 50%;
		color: whitesmoke;
		margin-left: 70px;
		width: 20px;
		height: 20px;
		line-height: 20px;
	}
}

.searchBar__input {
	background-color: #efefef;
	margin-left: 45px;
	border: none;

	&:focus {
		outline: none;
	}
}

.searchBar__input::placeholder {
	font-size: 15px;
}

.searchBar__icon {
	position: absolute;
	padding: 0px 15px 0px 20px;
	background-color: transparent;
}
