.searchBar {
	position: relative;
	color: #909090;
	display: flex;
	align-items: center;
	width: 75%;
	height: 40px;
	line-height: 40px;
	margin-left: 55px;
	background-color: #ffffff;
	// border: 1px solid red;
	padding: 0px 5px 0px 15px;
	border-radius: 10px;
	span {
		position: absolute;
		// left: 60px;
	}
	height: 40px;
}

.searchBar__input {
	background-color: #ffffff;
	border: none;

	&:focus {
		outline: none;
	}
}

.searchBar__input::placeholder {
	font-size: 15px;
}

.searchBar__icon {
	position: absolute;
	right: 0px;
	padding: 1px 15px 0px 20px;
	background-color: transparent;
}
