/* div {
	background-color: #fafafa;
} */
#signUpBox {
	height: fit-content;
	width: fit-content;
	text-align: center;
	background-color: #ffff;

	/* 화면 정가운데 배치 */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid #cdcdcd;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 50px 50px;
}

/* input {
	padding: 9px 0px 7px 9px;
	font-size: 12px;
	width: 16rem;
	height: 1.5rem;
	outline: none;
	background: #fafafa;
	border-radius: 3px;
	border: 1px solid #cdcdcd;
} */

#signUp-button {
	text-align: center;
	width: 100%;
	padding: 1rem;
	border: 1px solid transparent;
	background-color: #524fa1;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

/* label {
	position: absolute;
	pointer-events: none;
	left: 10px;
	padding-bottom: 15px;
	transform: translateY(10px);
	line-height: 6px;
	transition: all ease-out 0.1s;
	font-size: 14px;
	color: #999;
	padding-top: 6px;
	visibility: hidden;
} */

/* error message */
#errors {
	color: red;
	font-size: 12px;
	text-align: left;
}
