.story_container {
	border: solid 1px #ebe2e8;
	position: relative;
	border-radius: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0px;
	// margin-right: 27px;
	// width: 1200px; /*아래 width랑 ㄱㅊ은거 골라 고정이나 비율중*/
	width: 90%;
	height: 100%;
	box-sizing: border-box;
	cursor: default;
}

.story {
	display: flex;
	position: relative;
	width: 100%;

	justify-content: space-between;
	background-color: white;
	border-bottom: solid 1px #ebe2e8;
	margin: 0 10px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.story:last-child {
	border-radius: 0 0 18px 18px;
	border-bottom: none;
}

.story_title {
	position: absolute; /*형제 태그(이름)의 크기에 상관없이 제목의 시작점이 같도록 absolute 를 준것 + 부모인 .story는 relative 해줘야함*/
	left: 100px;
}
.story_name {
	position: absolute;
	right: 140px;
}

.story_child {
	text-align: center;
	font-size: 15px;
	color: #2f1154;
	// font-weight: 600;
}

.story.storyInfo {
	border-bottom: 1.5px solid #4a3763;
	border-radius: 16px 16px 0px 0px;
}

.story.storyInfo .story_title {
	right: 220px;
}
